<h1 class="jumbotron">Dictionary Builder</h1>

<h2>Click on a word to see its definitions.</h2>

<ul>
<% @words.each() do |word| %>
  <li><a href="/word/<%= word.id() %>"><%= word.spelling() %></a></li>
<% end %>
</ul>

<h2>You can add a new word below:</h2>

<form class="well" action="/new_word" method="post">

  <label for='word'>New Word:</label>
  <input id='word' name='word' type='text' placeholder="Your Word Here">

  <button type="submit" class="btn btn-primary">Add Word</button>
</form>
